@import "~antd/dist/antd.css";

.box_wrapper {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.headings {
  font-size: 15px;
  font-weight: 3000;
}

.details {
  font-size: 10px;
  color: grey;
}
